.nav {
    display: block;
    background-color: rgb(8, 153, 238);
}

.nav__ul {
    display: flex;
    flex-direction: row-reverse;
}

.nav__container {
    padding: 0px 5px 0 0;
}

.nav__ul li {
    list-style: none;
}

.nav__ul li a {
    display: block;
    text-decoration: none;
    padding: 13px;
    color: #000000;
}

.nav__ul li a:hover {
    color: #ffffff;
    padding: 11px;
    border: 2px solid rgb(30, 255, 0);
    border-radius: 20px;
}

/* INICIO DEL ASIDE */

.main {
    display: flex;
    background-color: rgb(253,253,253);
    height: 100vh;
}

.main__aside {
    height: 100;
    flex: 1 1;
    border-right: 2px solid rgb(200,200,200);
}

/* INICIO DEL MAIN */

.container-main-post {
    flex: 3 2;
    padding: 10px;
}

.form-post {
    display: flex;
    flex-direction: column;
}

.form-post input, .form-post textarea{
    border: 1px solid rgb(200,200,200);
    border-radius: 10px;
    outline: none;
    padding: 7px;
    margin: 7px;
}

.form-post [class="sumbit"]:hover {
    background-color: rgb(30, 245, 0);
    box-shadow: 0px 0px 1px #000000;
}

.form-post textarea::placeholder, .form-post input::placeholder{
    color: rgb(0, 57, 255);
    opacity: .5;
}



